<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>Delivery #</th>
                <th>Deliver to</th>
                <th>Deliver by</th>
                <th>Order #</th>
                <th>Total amount</th>
                <th>Paid amount</th>
                <th>Delivery date</th>
                <th>Returns amount</th>
            </tr>
        </table>
    </div>
    
    <div ng-click="test()" class="btn btn-default">Test</div>
</div>