<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <p>Click a row to replenish</p>
            <tr>
                <th>Bay</th>
                <th>Sku</th>
                <th>Exp. date</th>
                <th>Age</th>
                <th>Bottles</th>
                <th>P. Count</th>
                <th>L. Count</th>
            </tr>
            <tr ng-click="selectToReplenish(item.id)" ng-repeat="item in inventory">
                <td>{{item.bay_id.pile_name}}</td>
                <td>{{item.sku_id.sku_name}}</td>
                <td>{{item.exp_date}}</td>
                <td>{{item.age}}</td>
                <td>{{item.bottles}}</td>
                <td>{{item.physical_count}}</td>
                <td>{{item.logical_count}}</td>
            </tr>
        </table>
    </div>
</div>