<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <p>Click a row to replenish</p>
            <tr>
                <th>Bay</th>
                <th>Sku</th>
                <th>Exp. date</th>
                <th>Age</th>
                <th>P. Count</th>
                <th>L. Count</th>
            </tr>
            <tr ng-click="selectToReplenish(item.id)" ng-repeat="item in inventory">
                <th>{{item.bay_id.pile_name}}</th>
                <th>{{item.sku_id.sku_name}}</th>
                <th>{{item.exp_date}}</th>
                <th>{{item.age}}</th>
                <th>{{item.physical_count}}</th>
                <th>{{item.logical_count}}</th>
            </tr>
        </table>
    </div>
</div>