<div class="row">
  <div class="col-md-3">
      
       <a class="btn btn-default" ui-sref="customers">
           <span class="glyphicon glyphicon-user"></span>
       </a>
       
       <a class="btn btn-default" ui-sref="orders">
           <span class="glyphicon glyphicon-plus"></span>
       </a>
       
       <a class="btn btn-default" ui-sref="orders_view">
           <span class="glyphicon glyphicon-list-alt"></span>
       </a>
  </div>
</div>

<div class="row">
    <div class="col-md-9 view-content">
        <table class="table table-hover">
            <p>Click a row to see details</p>
            <tr>
                <th>Establishment</th>
                <th>Date</th>
                <th>Coke Agent name</th>
                <th>Status</th>
            </tr>
            <tr ng-click="getOrderProducts(order.id)" ng-repeat="order in ordersList">
                <td>{{order.customer_id.establishment_name}}</td>
                <td>{{order.date_received}}</td>
                <td>{{order.cokeagent_name}}</td>
                <td>{{order.status}}</td>
            </tr>
        </table>
    </div>
    
    <div class="col-md-3">
        <table class="well table table-hover">
            <tr>
                <th>SKU</th>
                <th>Cases</th>
            </tr>
            <tr ng-repeat="product in products">
                <td>{{product.sku_id.sku_name}}</td>
                <td>{{product.cases}}</td>
            </tr>
        </table>
    </div>
</div>