<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>Transaction ID</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Total Amount</th>
                <th>User</th>
            </tr>
            <tr ng-repeat="transaction in transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.customer_name}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.total_amount}}</td>
                <td>{{transaction.user}}</td>
            </tr>
        </table>
    </div>
</div>